.cat-card {
    min-width: 10rem;
    max-width: 20rem;
    width: 15rem;
}

.cat-title {
    font-weight: 500;
    font-size: 1.25rem;
}

.cat-actions {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: space-evenly;
}

.cat-edit-icon {
    color: var(--color-alert-warning);
}

.cat-delete-icon {
    color: var(--color-alert-error);
}

.cat-update-btn {
    margin-top: 2rem;
}