.user-admin-history-title {
    margin: 0.5rem 0rem;
}

.filter-icon {
    margin-bottom: 1rem;
    width: fit-content;
}

.history-header-admin {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.go-back-link {
    transition: all 0.3s;
    color: var(--secondary-color);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}