.search-bar {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 25rem;
  
}

.search-bar input {
    padding: 0.7rem 0.5rem;
    width: 100%;
    border: none;
    outline: none;
    background-color: #FFFF;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.search-bar .bg-white {
    background-color: #FFFF;
}

.search-bar .bg-gray {
    background-color: var(--secondary-color-light);
}

.search-bar .search-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 8;
    cursor: pointer;
    color: var(--color-gray);
}
