.select-search {
    position: relative;
    width: 100%;
}

.search-bar-with-btn {
    display: flex;
    gap: 0.5rem;
}

.search-bar-with-btn .form-input-wraper {
    margin-bottom: 0px;
}

.search-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-radius: 0.5rem;
    background-color: #FFFF;
    border: 1px solid var(--secondary-color-light);
    z-index: 1000;
}

.search-dropdown ul {
    list-style-type: none;
    padding:0;
    margin: 0;
    max-height: 20rem;
    overflow-y: auto;
}

.search-dropdown ul li {
    padding: 0.5rem;
    cursor: pointer;
}