.sidebar {
  width: 15.5rem;
  height: 100vh;
  background-color: var(--color-bg-white);
  color: var(--color-text-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 4rem;
  z-index: 10;
  transition: transform 0.3s linear;
  transform: translateX(0%);
}

.sidebar .side-close {
  display: flex;
  left: 6rem;
  position: relative;
}

.sidebar .side-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.side-link {
  color: var(--color-text-dark);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 15rem;
  padding: 0.5rem 2rem;
}

.side-link:hover {
  color: var(--primary-color);
  transition: all 0.3s;
}

.sidebar .side-btn {
  position: fixed;
  bottom: 6rem;
}


/* ------------------------------------ Mobile bar ------------------------------ */

.mobile-bar {
  position: fixed;
  display: none;
  align-items: center;
  background-color: var(--color-white);
  width: 100%;
  bottom: 0rem;
  z-index: 10;
}

.mobile-bar-links {
  display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.mobile-bar-link {
  padding: 0.3rem 0rem;
    text-decoration: none;
    font-size: 0.6rem;
    text-align: center;
    color: var(--color-text-dark);
    cursor: pointer;
}

.mobile-bar-link:hover {
  color: var(--primary-color);
  transition: all 0.3s;
}

.mobile-bar-link-name {
  position: relative;
  top: 0.3rem;
}

.active-link {
  color: var(--primary-color);
}

@media screen and (width <= 768px) {
  .sidebar {
    transition: transform 0.3s linear;
    transform: translateX(-100%);
  }

  .sidebar .side-close {
    display: none;
  }

  .mobile-bar {
    display: flex;  
  }
}
